###########
## NodeJs
###########
node_modules/
/npm-debug.log

#########
## Misc
#########
*.ts
!*.js
!*.map
!*.d.ts
!*.metadata.json
webpack.config.js
webpack.config.min.js

config/*
!bundles/

##############
## JetBrains
##############
.idea
.project
.settings

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

########
## Mac
########

# Mac crap
**/.DS_Store